<!-- BEGIN: USERINFO -->
<div class="container">
<div class="row centered-form">
<div class="col-md-offset-1 col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="text-center panel-title"><h2>User Information</h2></div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">User Name:</div>
	    		<div class="col-md-8 info_data">{user_name}</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">Email:</div>
	    		<div class="col-md-8 info_data">{user_email}</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">Full Name:</div>
	    		<div class="col-md-8 info_data">{user_fullname}</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">Birthday:</div>
	    		<div class="col-md-8 info_data">{user_bday}</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">Gender:</div>
	    		<div class="col-md-8 info_data">{user_gender}</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4 info_title">Address:</div>
	    		<div class="col-md-8 info_data">{user_address}</div>
	    	</div>
	    	<div class="row bottom-row">
	    		<div class="col-md-1"></div>
	    		<div class="col-md-11">
	    			<a class="ulink btn btn-primary bottom-btn" href="{baseUrl}/?m=account&a=edit">Edit</a>
		    		<a class="ulink btn btn-primary bottom-btn" href="{baseUrl}/?m=account&a=changepass">Change Password</a>
	    		</div>
	    	</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- END: USERINFO -->