<!-- BEGIN: ABOUTUS -->
<div class="aboutus">
	<h2 class="text-center">- ABOUT US -</h2>
	<p class="aboutus-header">
		Welcome to a magical place. And one of Vietnam’s landmarks. We invite you to take a tour through our Amusement Park - now over 100 years old and one of the oldest in the world, yet still constantly improving. Learn about our history, explore the magical open spaces, enjoy all the rides and attractions - the old favourites as well as the latest ones we’ve just opened. And enjoy all the thrills that have been designed for kids, teenagers and adults alike. And to top it all, you get amazing views over the city of Vietnam!
	</p>
</div>
<div class="aboutus">
	<h2 class="text-center">- OUR TEAM -</h2>
	<p class="aboutus-header">
	</p>
	<br/>
	<div class="row">
		<div class="col-md-5">
	        <img src="images/hoang.jpg" class="img-circle img-responsive">    
	        <h3>Trần Minh Hoàng</h3>
	        <div class="border-team"></div>
		</div>
		<div class="col-md-2 "></div>
	    <div class="col-md-5 ">
	        <img src="images/chau.jpg" class="img-circle img-responsive">
		    <div class="team-content">    
		        <h3>Đỗ Minh Châu</h3>
		        <div class="border-team"></div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
	        <img src="images/khanh.jpg" class="img-circle img-responsive">    
	        <h3>Nguyễn Đức Khánh</h3>
	        <div class="border-team"></div>
		</div>
		<div class="col-md-2 "></div>
	    <div class="col-md-5 ">
	        <img src="images/quocanh.jpg" class="img-circle img-responsive">
		    <div class="team-content">    
		        <h3>Lâm Quốc Anh</h3>
		        <div class="border-team"></div>
		    </div>
		</div>
	</div>
</div>
<!-- END: ABOUTUS -->