<!-- BEGIN: SITEMAP -->
<div class="container">
<div class="row centered-form">
<div class="col-md-offset-1 col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading siteMap">
			<h2><b>Site Map</b></h2>
			Browse our site map below.<br/>
			<div class="row">
				
				<div class="col-md-4">
					<a href="{baseUrl}/?m=home" class="linkMom">Home</a><br/>
					<div class="titleMom">Zones</div>
					<a href="{baseUrl}/?m=restaurant" class="linkChild">Restaurant</a><br/>
					<a href="{baseUrl}/?m=attraction" class="linkChild">Attraction</a><br/>
					<a href="{baseUrl}/?m=entertainment" class="linkChild">Entertainment</a><br/>
					<a href="{baseUrl}/?m=gallery" class="linkMom">Gallery</a><br/>
					<a href="{baseUrl}/?m=ticket" class="linkMom">Online Ticket</a><br/>
				</div>
				<div class="col-md-4">
					<div class="titleMom">Account</div>
					<a href="{baseUrl}/?m=account&a=info" class="linkChild">User Information</a><br/>
					<a href="{baseUrl}/?m=account&a=edit" class="linkChild">Edit Information</a><br/>
					<a href="{baseUrl}/?m=account&a=changepass" class="linkChild">Change Password</a><br/>
					<a href="{baseUrl}/?m=account&a=yourticket" class="linkChild">Your Ticket</a><br/>
					<a href="{baseUrl}/?m=contactus" class="linkMom">Contact Us</a><br/>
					<a href="{baseUrl}/?m=aboutus" class="linkMom">About Us</a><br/>
				</div>
				<div class="col-md-4">
					<div class="titleMom">Other</div>
					<a href="{baseUrl}/?m=user_signup" class="linkChild">Sign Up</a><br/>
					<a href="{baseUrl}/?m=user_forget" class="linkChild">Forget Password</a><br/>
					<a href="{baseUrl}/?m=error&a=404" class="linkChild">404 Error</a><br/>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- END: SITEMAP -->