<!-- BEGIN:EDIT -->
	<h3>Gallery Edit</h3><br/>
	<form method='post' action='' enctype='multipart/form-data'>
	<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<th></th>
			<th>Id</th>
			<th>Image</th>
			<th>Description</th>
			<th colspan='2'>Action</th>
		</thead>
		<tbody>
			<tr>
				<td><center>Current:</center></td>
				<td>{gallery_id}</td>
				<td><img src='{LS.baseUrl}/eProject01/admin/{gallery_url}' class="img-responsive" width='500px'/></td>
				<td>{description}</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td><center>Change:</center></td>
				<td></td>
				<td>
					<input class="form-control" type='file' name='gallery_img'>
					<span style='color:red'>{err_mes_proImg}</span>
				</td>
				<td><textarea class="form-control" rows="5" name='description' placeholder='Description...'>{curr_dcrt}</textarea></td>
				<td><center><input class='btn btn-xs btn-info' type='submit' name='gallery_edit' value='Save' /></center>
				</td>
				<td><center><input class='btn btn-xs btn-danger' type='reset' value="Reset" /></center></td>
			</tr>
		</tbody>
	</table>
	</div>
	<button class='btn btn-sm btn-default'><a style = 'text-decoration: none !important;color: black' href='?m=gallery&a=list'>Cancel</a></button>
	</form>
<!-- END:EDIT -->